# Virtual Environment
venv/
.env

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# Data artifacts & model weights
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
models/
*.faiss
*.index

# OS / Editor files
.DS_Store
.vscode/
.idea/